main>.container {
    padding: 30px 0;
}

.negro100 {
    background-color: black;
}

.flotante {
    display: scroll;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1bd741;
}

.scrollbut {
    padding-top: 50px;
}

.imgconfig {
    object-fit: cover;
}