<!-- INICIO NAVBAR -->
<header>
    <div class="navbar navbar-expand-lg navbar-dark negro100">
        <div class="container">
            <a href="/links/index" class="navbar-brand">
                <img src="/img/logos/CalaStoreLogo.png" alt="Cala Store" width="125"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarHeader">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#bodies">Bodys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#croptops">Crop Tops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#legsm">Leggings
                            (S-M)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#leglxl">Leggings
                            (L-XL)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#tops">Tops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page"
                            href="#conjuntos">Conjuntos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="#blusas">Blusas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page"
                            href="#enterizos">Enterizos</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <a href="/links/cart" class="btn btn-light position-relative"><b>Carrito</b>{{> svg}}</a>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- FIN NAVBAR -->