<!-- INICIO NAVBAR -->
<header style="position: sticky; top:0; z-index: 1;">
    <div class="navbar navbar-expand-lg navbar-dark negro100">
        <div class="container px-2">
            <a href="/links/index" class="navbar-brand">
                <img src="/img/logos/CalaStoreLogo.png" alt="Cala Store" width="125"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarHeader">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <div class="btn-group">
                        <div class="dropdown">
                            <button class="nav-pills text-light btn mx-3 px-2 dropdown-toggle" type="button"data-bs-toggle="dropdown" aria-expanded="false">
                                Catálogo
                            </button>
                            <ul class="dropdown-menu text-center">
                                <li><a class="dropdown-item" href="/links/index#bodies">Bodys</a></li>
                                <li><a class="dropdown-item" href="/links/index#croptops">Crop Tops</a></li>
                                <li><a class="dropdown-item" href="/links/index#legsm">Leggings (S-M)</a></li>
                                <li><a class="dropdown-item" href="/links/index#leglxl">Leggings (L-XL)</a></li>
                                <li><a class="dropdown-item" href="/links/index#conjuntos">Conjuntos</a></li>
                                <li><a class="dropdown-item" href="/links/index#blusas"></a>Blusas</li>
                                <li><a class="dropdown-item" href="/links/index#enterizos"></a>Enterizos</li>
                            </ul>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="/links/bodies">Bodys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="/links/croptops">Crop
                            Tops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="/links/legsm">Leggings
                            (S-M)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="/links/leglxl">Leggings
                            (L-XL)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page" href="/links/tops">Tops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page"
                            href="/links/sets">Conjuntos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page"
                            href="/links/blusas">Blusas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-pills text-light btn mx-3 px-2" aria-current="page"
                            href="/links/enterizos">Enterizos</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <a href="/links/cart" class="btn btn-light position-relative"><b>Carrito</b>{{> svg}}</a>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- FIN NAVBAR -->