<button type="button" class="botonflotante border-0" data-bs-toggle="modal" data-bs-target="#preguntasfrecuentes">
    <img src="/img/icons/ask.png" width="60rem">
</button>

<div class="modal fade" id="preguntasfrecuentes" tabindex="-1" aria-labelledby="preguntasfrecuentesLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 fw-bold" id="preguntasfrecuentesLabel">Preguntas Frecuentes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-success mb-3">
                    <div class="card-header fw-bold">Pregunta #1: ...</div>
                    <div class="card-body text-success">
                        <p class="card-text"><b>Respuesta:</b> blablabla blablabla blablabla blablabla blablabla blablabla.</p>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="modal-footer">
                    <input class="form-control me-2" name="nombre" type="search" placeholder="¿Tienes una pregunta?"
                        aria-label="Buscar" autocomplete="off">
                    <button type="submit" class="btn btn-outline-primary">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>