<a class='flotante py-2 px-3 rounded-pill text-white text-decoration-none'
    href='https://api.whatsapp.com/send/?phone=573108522391&text=%2AHola%21%21+Tengo+algunas+dudas+sobre+tus+productos...%2A&type=phone_number&app_absent=0'><img
        src='/img/logos/WhatsAppIcon.png' width="40"/> <b class="scrollbut">Ayuda</b></a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
<script src="/js/boton.js"></script>