<main>
    <div class="row">
        <div class="col">
            <img src="/img/404.jpg">
        </div>
        <div class="col">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-body text-danger">
                    <h5 class="card-title">404</h5>
                    <p class="card-text">¡Lo Sentimos! Error en el servidor.</p>
                </div>
                <div class="card-footer">
                    <a href="/links/index" class="btn btn-danger">
                        <p>Volver al Home</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>